@charset "UTF-8";
/* CSS Document */
.sectionbox{
	width: 80%;
	height: 30em;
	margin: 0 auto 2em;
	color: #fff;
	position: relative;
	overflow: hidden;
	display: block;
	}
.section_dis_a,
.section_dis_b{
	position: absolute;
	width: 33%;
	height: 100%;
	display: inline-block;
	background: #7ea2d6;
	text-align: center;
	}
.section_dis_a{
	left: 0;
	}
.section_dis_b{
	right: 0;
	background: #fa8071;
	}
.section_dis_a h1,
.section_dis_b h1{
	position: relative;
	top: 35%;
	font-size: 2.3em;
	}
.section_dis_a p,
.section_dis_b p
{
	display: block;
	position: relative;
	top: 30%;
	}
.section_dis_a a,
.section_dis_b a{
	position: relative;
	top: 30%;
	color: rgba(255,255,255,.7);
	text-decoration: underline;
	}
.imgslider_a,
.imgslider_b
{
	position: absolute;
	right: 0;
	display: inline-block;
	width: 67%;
	height: 100%;
	overflow: hidden;
	
	}
.imgslider_b{
	left: 0;
	}
.infobox{
	float: left;
	width: 100%;
	height: 5em;
	position: absolute;
	top: 22em;
	background: rgba(0,0,0,.3);
	padding: 10px 20px 15px 20px;
	color: #fff;
	}
.authorname{
	float: left;
	margin: 0;
	padding: 0;
	line-height: 2em;
	font-size: 1.2em;
	} 
.workname{
	clear: both;
	display: block;
	float: left;
	margin: 0;
	line-height: 1.4em;
	font-size: 1em;
	font-weight: normal;
	}
.work_dis{
	clear: both;
	display: block;
	margin: 0;
	float: left;
	line-height: 1.4em;
	font-size: 0.8em;
	font-style: italic;
	font-weight: 100;
	}
.imgbox{
	width: 100%;
	height: 30em;
	display: block;
	position: absolute;
	top: 0;
	}
	
#prosection{
	width: 80%;
	text-align: center;
	height: auto;
	margin: 0 auto 2em;
	color: #fff;
	}
#prosection h1{
	margin: 15px 0;
	padding: 0;
	float: left;
	color: #000;
	}
.pro_grid{
	width: 30%;
	position: relative;
	height: auto;
	margin: 0 3em 0 0;
	padding: 0;
	display: inline-block;
	}
.pro_grid:last-child{
	margin: 0;
	}
.singledesigner{
	width: 100%;
	height: auto;
	margin: 0 0 2em 0;
	display: block;
	}
.singledesigner > img
{
	float: left;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	box-shadow: 0px 0px 5px #999;
	}
.singledesigner > p{
	display: block;
	float: left;
	line-height: 80px;
	margin: 0 0 0 1em;
	padding: 0;
	color: #666;
	font-weight: bold;
	}
.shortview{
	display: block;
	margin: 0.5em 0 0 0;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	box-shadow: 0px 0px 5px #999;
	}
.shortview > img{
	width: 100%;
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	}
.shortinfo{
	background: none;
	color: #999;
	height: 4em;
	width: 100%;
	}
.shortinfo > img{
	height: 25px;
	width: 25px;
	display: block;
	float: right;
	margin-top: 0.5em;
	padding: 0;
	}
.shortinfo > span{
	float: right;
	line-height: 25px;
	padding: 0.5em 1em 0 0.2em;
	}

