@charset "UTF-8";
/* CSS Document */
#main > span{
	font-size: 1em;
	text-decoration: underline;
	font-weight: lighter;
	display: block;
	margin: -0.3em auto 0.5em;
	color: #979797;
	}
#groups
{
	width: 80%;
	height: auto;
	text-align: center;
	margin: 0 auto;
	}
.grid{
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	padding: 0;
	background: none;
	height: auto;
	overflow: hidden;
	}
.grid li{
	width: 100%;
	height: auto;
	margin: 0 0 20px 0;
	overflow: hidden;
	}
.grid > li > a > img{
	width: 100%;
	height: auto;
	margin: 0;
	opacity: 1;
	-webkit-transition: opacity 0.4s ease-in;
	-moz-transition: opacity 0.4s ease-in;
	-o-transition: opacity 0.4s ease-in;
	transition: opacity 0.4s ease-in;
	}
.grid a
{
	width: 100%;
	height: 100%;
	}
.imgdis
{
	float: left;
	width: 100%;
	height: 3.5em;
	display: block;
	background: #fa8071;
	margin: -3.5em 0 0 0;
	position: relative;
	bottom: 0;
	padding: 0;
	z-index: 999;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
	}

.topic{
	position: absolute;
	left: 1.5em;
	margin: 0;
	padding: 0;
	line-height: 3em;
	color: #fff;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
	}
.likebox
{
	position: absolute;
	right: 1.5em;
	top: 1em;
	height: 100%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
	}
.likebox img{
	width: 25px;
	height: 25px;	
	}
.likebox span{
	float: right;
	display: inline-block;
	font-size: 1.2em;
	color: #fff;
	margin: 0.1em 0 0 0.7em;
	text-decoration: none;
	}
.grid li:hover > a > img{
	opacity: 0.6;
	}
.grid li:hover .imgdis{
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	}
.grid li:hover .topic{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	}
.grid li:hover .likebox{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
	}