@charset "UTF-8";
/* CSS Document */
#home_sec{
	width: 80%;
	height: auto;
	margin: 0 auto 2em;
	text-align: center;
	position: relative;
	overflow: hidden;
	}
.home_grid_1,
.home_grid_2{
	display: inline-block;
	position: relative;
	vertical-align: top;
	height: auto;

	}
.home_grid_1{
	width: 30%;
	}
.home_grid_2{
	width: 65%;
	}
.home_grid_3{
	width: 48%;
	display: inline-block;
	position: relative;
	vertical-align: top;
	height: auto;
	margin: 0 1em 0 0;
	}
.home_grid_3:last-child{
	margin: 0;
	}
#user_info{
	width: 100%;
	}
#user_info h3{
	color: #333;
	margin: 0.5em 0 0 0;
	padding: 0;
	}
.portraet{
	display: block;
	width: 100px;
	height: 100px;
	margin: 2em auto 0;
	overflow: hidden;
	border: 4px #fff solid;
	-moz-border-radius: 54px;
	-webkit-border-radius: 54px;
	border-radius: 54px;
	box-shadow:  0px 0px 5px #999;
	}
.portraet img{
	width: 100px;
	height: 100px;
	}
.description{
	width: 70%;
	font-size: 0.8em;
	font-weight: 100;
	margin: 0.3em auto 1em auto;
	padding: 0;
	text-align: justify;
	color: #999;
	}
.email{
	text-decoration: underline !important;
	font-style: italic;
	font-size: 0.8em;
	color: #999 !important;
	}
.followers,
.following,
.works{
	font-size: 1em;
	font-style: italic;
	color: #666;
	}
.followers{
	margin: 0.5em 0 0 0;
	}
.works,
.following{
	margin: 0.1em 0 0 0;
	}
.followers span,
.works span,
.following span{
	font-style: normal;
	color: #999;
	padding-left: 0.4em;
	}
.showbox{
	display: inline-block;
	width: 100%;
	height: 29em;
	margin: 0 -0.1em 2em 0;
	padding: 0;
	}
.chico{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #7ea2d6;
	}
.chico > img{
	width: 100%;
	height: 100%;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	}
.chico > figcaption{
	width: 100%;
	text-align: center;
	color: #fff;
	position: absolute;
	bottom: 0em;
	opacity: 1;
	-webkit-transition:all 350ms;
    -moz-transition:all 350mss;
    -o-transition:all 350ms;
    transition:all 350ms;
	}
.chico::before{
	content: ' ';
	position: absolute;
	top: 1em;
	bottom: 1em;
	left: 1em;
	right: 1em;
	border: 0.1em solid;
	border-color: rgba(255,255,255,.7);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	}
.chico > figcaption > h3{
	font-size: 1.4em;
	margin: 0;
	padding: 0;
	}
.work_des{
	font-size: 0.7em;
	display: inline-block;
	width: 70%;
	position: relative;
	top: 1em;
	opacity: 0;
	-webkit-transition:all 350ms;
    -moz-transition:all 350mss;
    -o-transition:all 350ms;
    transition:all 350ms;
	}
.authorname{
	font-size: 0.8em;
	font-weight: lighter;
	margin: 0;
	padding: 0;
	}
.chico:hover > img{
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
	}
.chico:hover > figcaption{
	bottom: 1em;
	}
.chico:hover::before{
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	}
.chico:hover .work_des{
	top: -0.5em;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	}
.likebox{
	position: absolute;
	top: 2em;
	left: 2em;
	z-index: 888;
	}
.likebox img{
	width: 30px;
	height: 30px;
	}
.likebox span{
	color: rgba(255,255,255,.9);
	display: inline-block;
	float: right;
	margin: 0.2em 0 0 0.5em;
	font-size: 1.2em;
	}
